.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: #3c8dbc;
}
.title {
  width: 170px;
    text-align: center;
    font-weight: 800;
    font-size: 1.1rem;
    color: aliceblue;
}

